body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.head {
    text-align: center;
    background: #b9d6d6;
    color: #ffffff;
    padding: 5px;
    font-family: Georgia, serif;
}
.head h1 {
    margin: 0;
    font-size: 3em;
}
.title {
    font-family: Georgia, serif;
    text-align: center;
    background: #b9d6d6;
    padding: 15px;
}
.experiencespro article {
    background: #f2f2f2;
    padding: 5px;
}
.formations article {
    background: #f2f2f2;
    padding: 5px;
}
.secondpart {
    background: #b9d6d6;
    padding: 1px;
}
.secondpart h1 {
    background: #ffffff;
    text-align: center;
    margin: 5px;
    padding: 15px;
    font-family: Georgia, serif;
}
.secondpart article {
    margin: 5px;
    padding: 5px;
}
img {
    display: none;
}

@media (min-width: 1366px) {
    .flex {
        display: flex;
        flex-direction: row-reverse;
    }
    img {
        display: inline-block;
        max-width: 90%;
        padding: 10px;
    }
    .firstpart {
        width: 80%;
        margin: 0 50px 0 50px;
    }
    .secondpart {
        width: 20%;
    }
}
